# Copiar a .env y reemplazar estos valores solo en tu equipo.
CATALOG_DB_PASSWORD=CAMBIAR_POR_PASSWORD_CATALOGO
SHIPMENTS_DB_PASSWORD=CAMBIAR_POR_PASSWORD_ENVIOS
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/TU_POOL_ID
COGNITO_CLIENT_ID=TU_APP_CLIENT_ID
FRONTEND_PUBLIC_URL=http://TU_IP_PUBLICA:4200
